
.contact-page a {
  position: absolute;
  width: 20px;
  height: 10px;
  top: 0;
  right: 0;
}


.contact-page {
    width: 100%;
    padding: 0px 20px;
    padding-top: 70px;
}
.contact-page h1 {
    margin-bottom: 10px;
    font-size: 3rem;
}
.contact-page .hi-there {
    font-size: 1.2rem;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 80px;
}
.form div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: black;
    position: relative;
}
.form div label {
    font-size: 1.2rem;
}
.form div input {
    padding: 15px;
    border-radius: 8px;
    outline: none;
    color: gray;
    border: 2px solid #ddd;
    font-size: 1.1rem;
    margin-top: 10px;
}
.form div textarea {
    height: 150px;
    padding: 15px;
    border-radius: 8px;
    outline: none;
    color: gray;
    border: 2px solid #ddd;
    font-size: 1.1rem;
    margin-top: 10px;
}
.form div.type-radio {
    flex-direction: row;
    align-items: flex-start;
    /* padding: 10px 0; */
} 
.form div.type-radio input {
    margin-right: 9px;
    margin-top: 6px;
}
.form div input#btn__submit {
    background: #1570EF;
    color: white;
    padding: 20px;
    border-radius: 15px;
}

/* form validation */

.warning-text {
    display: none;
    font-size: 0.8rem;
    margin:10px 0;
    /* position: absolute; */
    color: red;
}
.form div input:invalid, 
.form div textarea:invalid {
    border-color: red !important;
}
.form div input:invalid + .warning-text, 
.form div textarea:invalid + .warning-text {
   display: flex;   
}




/* MEDIA QUERIES */
@media (min-width : 700px) {
    .contact-page {
        width: 100%;
        padding: 38px 20px;
        /* background-color: blueviolet; */
    }
}
@media (min-width : 1200px) {
    .contact-page {
        width: 100%;
        padding: 120px 150px;
    }
    .form {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .form div {
        width: 100%;
    }
    .form .first-name, .form .last-name {
        /* background-color: rebeccapurple; */
        width: 45%;
    }
    .form .last-name {
        margin-left: 10%;
    }
}
@media (min-width : 1400px) {
    .contact-page {
        width: 100%;
        padding: 150px 220px;
    }
}


