* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 90px 20px;
  padding-bottom: 0;
  width: 100%;
}


#profile__img {
  width: 150px;
  height: 150px;
  border: #999 solid 6px;
  border-radius: 50%;
}


#twitter {
  font-weight: bold;
  margin-top: 13px;
}

#slack {
  display: none;
}

.person-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  font-size: 1.3rem;
}

.top-right {
  position: absolute;
  right: 20px;
  top: 100px;
}
.share {
  display: none;
}

.three-dots {
 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  font-weight: bold;
  letter-spacing: 2px;
  border: dotted 3px #eaecf0;
}

.links-container {
  width: 100%;
  text-align: center;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

a {
  background-color: #eaecf0;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 20px;
  width: 85%;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  font-size: 1.1rem;
  position: relative;
}

.display-none {
  position: absolute;
  display: none;
  background-color: hsla(0, 0%, 0%, 0.7);
  color: white;
  top: 50px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  z-index: 1;
  border-radius: 6px;
  font-weight: bold;
}

a:hover .display-none {
  display: block;
}
a:hover {
  background-color: #ddd;
}

.social-icons {
  margin: 100px 0;
}
.social-icons img {
  margin-left: 14px;
}
.social-icons img {
  margin-right: 14px;
}

hr {
  height: 2px;
  width: 100%;
}

footer {
  text-align: start;
  width: 100%;
  color: #999;
  font-weight: 700;
  padding: 20px 0;
}
footer img {
  margin: 20px 0;
}

/* Media queries */
@media (min-width: 990px) {
  a {
    width: 75%;
    /* background-color: yellow; */
  }
  .three-dots {
    display: none;
  }
  .share {
    display: block;
  }
  .share img {
    width: 80px;
  }
  .top-right {
    right: 200px;
  }
}

@media (min-width: 1200px) {
  .top-right {
    right: 300px;
  }
}
