* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  width: 100%;
}

#profile__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#twitter {
  font-weight: bold;
  margin-top: 13px;
}


#slack {
  display: none;
}

.person-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.three-dots {
  position: absolute;
  right: 20px;
  top: 50px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  padding: 0;
  font-weight: bold;
  letter-spacing: 2px;
  border: dotted 2px #EAECF0;
  margin-top: 20px;
}


.links-container {
  width: 100%;
  text-align: center;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}


a {
  background-color: #EAECF0;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 20px;
  width: 85%;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  font-size: 0.9rem;
  position: relative;
}

.display-none {
  position: absolute;
  display: none;
  background-color: hsla(0, 0%, 0%, 0.7);
  color: white;
  top: 50px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  z-index: 1;
  border-radius: 20px;
  font-weight: bold;
}

a:hover .display-none {
  display: block;
}